<%= bootstrap_form_for Decision.new do |c| %>
  <%= c.text_field :name, placeholder: 'Decision' %>

  <%= c.primary "Create" %>

  <ul><% @decisions.each do |cc|%>
    <div class="well">
     <div class="row">
      <div class='col-sm-9'>
       <li><%= cc.name %></li>
      </div>
      <div class="col-sm-3">
       <div class="pull-right">
        <td><%= link_to '', cc, method: :delete, :class=>'glyphicon glyphicon-trash' %></td>
        <td><%= link_to '', sort_up_decisions_path(cc), :class=>'js-criterium-sort glyphicon glyphicon-arrow-up' %></td>
        <td><%= link_to '', sort_down_decisions_path(cc), :class=>'js-criterium-sort glyphicon glyphicon-arrow-down' %></td>
       </div>
      </div>
     </div>
    </div>
   <% end %>
  </ul>

<% end %>